<div class="well page" id="input">
  <h1 class="header"></h1>
  <div class="inputs">
    <%= title t('site.about') %>
    <div class="row content-row">
      <p>Swaggy uses Rubocop to analyse your Ruby code.</p>
    </div>
    <div class="row content-row">
      <h2>The Team:</h2>
      <center>
        <div class="col-sm-6">
          <%= gravatar_tag('exadeci@gmail.com', alt: 'Gaetan Gueraud', class: 'shadow-z-2') %>
          <h3>Gaëtan Gueraud</h3>
        </div>
        <div class="col-sm-6">
          <%= gravatar_tag('folie.adrien@gmail.com', alt: 'Adrien Folie', class: 'shadow-z-2') %>
          <h3>Adrien Folie</h3>
        </div>
      </center>
    </div>
  </div>
</div>
